{% extends 'template.html.twig' %}

{% block body %}
{% include "nav.html.twig" %}
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 d-flex flex-column justify-content-between">
                <div class="left-text-content mb-3">
                    <div class="section-heading">
                        <h6>Nos Produits</h6>
                        <h2>{{ product.name }}</h2>
                        <h4>{{ product.price }} €</h4>
                        <div class="text-right">
                            <a href="{{ path('app_cart_add', {id: product.id})}}" class="btn btn-dark my-2 text-right" tabindex="-1" role="button">Ajouter au panier</a>
                        </div>
                    </div>
                    <p>{{ product.description }}</p>
                    <div class="row">
                        <!-- Thumbnail images with a common class for selection -->
                        {% if product.productImages|length > 0 %}
                            {% for image in product.productImages %}
                                <div class="col-4">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="thumbnail" alt="Product Image">
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-4">
                                <img src="{{ asset('assets/images/noPic.jpg') }}" class="thumbnail" alt="Default Cover Image">
                            </div>
                        {% endif %}                       
                    </div>
                </div>
                <div class="align-self-start mt-auto">
                    <a href="{{ path('app_product') }}" id="return-btn" class="btn btn-light" tabindex="-1" role="button"><i class="fa fa-arrow-left"></i> Retour</a>
                </div>
           
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb" id="main-image-container">
                        <!-- Main image container that changes on thumbnail click -->
                        <img src="#" alt="Main Product Image" id="main-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% include "footer.html.twig" %}
{% endblock %}

