
{% extends "mail/base.html.twig" %}
{% block body %}
    <!-- Header -->
    <div class="header">
        <h2>Confirmation de votre achat</h2>
    </div>

    <!-- Content -->
    <div class="content">
        <p>Bonjour {{ user.firstName }} {{user.lastName}},</p>
        <p>Merci pour votre achat. Voici les détails de votre commande :</p>
        <ul>
            <li><strong>Numéro de facture :</strong> {{ invoice.id }}</li>
            <li><strong>Date :</strong> {{ order.createdAt|date('d-m-Y') }}</li>
            <li><strong>Montant total de produits :</strong> {{ order.totalPrice - order.transportPrice }} €</li>
            <li><strong>Montant de livraison :</strong> {{ order.transportPrice }} €</li>
            <li><strong>Montant total :</strong> {{ order.totalPrice }} €</li>
        </ul>

        <div class="table-container">
            <h3>Produits achetés :</h3>
            <table>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th style="text-align: right;">Quantité</th>
                        <th style="text-align: right;">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in orderDetails %}
                    <tr>
                        <td>{{ detail.productName }}</td>
                        <td style="text-align: right;">{{ detail.quantity }}</td>
                        <td style="text-align: right;">{{ detail.price }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p style="margin-top: 20px;">Nous espérons vous revoir bientôt.</p>
    </div>
{% endblock %}  
