{% extends 'template.html.twig' %}

{% block title %}Kaëlysse Couture - Profile{% endblock %}

{% block body %}
{% include "nav.html.twig" %}

 <!-- ***** Menu Area Starts ***** -->
 <section class="section" id="offers">
    <div class="container">
        {{ include('flash.html.twig') }}
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
                    <h6>PROFILE</h6>
                    <h2>Bonjour, {{ app.user.firstName|default('Prénom') }} {{ app.user.lastName|default('Nom') }}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="justify-content-center">
                    <a href="{{ path('app_user_edit',  { id: app.user.id }) }}" role="button" class="btn btn-dark m-1" tabindex="-1">Modifier</a>
                    <a href="{{ path('app_user_reset_password',  { id: app.user.id }) }}" role="button" class="btn btn-dark m-1" tabindex="-1">Modifier Mot de passe</a>
                    <a href='#' role="button" class="btn btn-dark m-1" tabindex="-1">Supprimer le Compte</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 text-right">
                {% if (app.user.title is same as 'Mme' or app.user.title is same as 'Mlle') and app.user.imageName is null %}
                    <img src="{{ asset('assets/images/avatar_female.png') }}" alt="avatar_female" class="w-50">
                {% elseif (app.user.title is same as 'M' or app.user.title is null) and app.user.imageName is null %}
                    <img src="{{ asset('assets/images/avatar_male.png') }}" alt="avatar_male" class="w-50">
                {% else %}
                    <img src="{{ vich_uploader_asset(app.user) }}" alt="{{ app.user.lastName }}" class="w-50">
                {% endif %}
            </div>
            <div class="col-lg-6 align-self-center text-left">
                <h4>Pseudo: {{app.user.pseudo}}</h4>
                <p class="font-italic">Date de création: {{app.user.createdAt|date('d/m/Y')}}</p>
                <br>
                <p class="card-text">Adresse: {{app.user.address}}</p>
                <p class="card-text">City: {{app.user.city}}</p>
                <p class="card-text">Zipcode: {{app.user.zipCode}}</p>
                <p class="card-text">Telephone: {{app.user.telephone}}</p>
                <p class="card-text">E-mail: {{app.user.email}}</p>
            </div>   
        </div>
    </div>
</section>
                                            
                                            
                                            
{% include "footer.html.twig" %}
{% endblock %}
