{% extends 'template.html.twig' %}
{% block title %}Kaëlysse Couture - User Orders{%endblock %}

{% block body %}

{% include "nav.html.twig" %}

<!-- ***** Menu Area Starts ***** -->
<section class="section" id="offers">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
                    <h6>PROFILE</h6>
                    <h2>Vos Commandes</h2>
                    <a href="{{ path('app_user_formation') }}" class="text-dark">Voir Mes Formation</a>
                </div>
            </div>
        </div>
        {% include "flash.html.twig" %}
        <div class="row">
            <div class="col-lg-12">
                <section class="tabs-content d-flex justify-content-center">
                    <div class="row justify-content-between">
                        {% if orders %}
                            {% for order in orders %}
                                <div class="tab-item mr-2 bg-secondary p-2">
                                    <h4>{{order.createdAt|date('d-m-Y')}}</h4>
                                    <span class="badge badge-info">{{ order.status }}</span>
                                    <br>
                                    <a href="{{ path('app_user_orderDetail', { id : order.id }) }}" class="ml-1 font-weight-light">Voir detail</a>
                                    <div class="price">
                                        <h6>{{ order.totalPrice }} €</h6>
                                    </div>
                                </div>
                            {% endfor %} 
                        {% endif %}
                    </div>
                </section>
                <div class="navigation d-flex justify-content-center mt-4">
                    {{ knp_pagination_render(orders) }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Chefs Area Ends ***** -->

{% include "footer.html.twig" %} 
{% endblock %}